name: Absensi Otomatis

on:
  schedule:
    # Senin 10:45 WIB
    - cron: '45 3 * * 1'

    # Selasa 10:45 WIB
    - cron: '45 3 * * 2'

    # Rabu 14:00 WIB
    - cron: '0 7 * * 3'

    # Kamis 08:00 WIB
    - cron: '0 1 * * 4'

    # Kamis 14:00 WIB
    - cron: '0 7 * * 4'

    # Jumat 16:35 WIB
    - cron: '35 9 * * 5'

    # Sabtu 14:00 WIB
    - cron: '0 7 * * 6'

  workflow_dispatch:

jobs:
  run-absen:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Ambil kode dari repository
        uses: actions/checkout@v4

      - name: 2. Setup Chrome
        uses: browser-actions/setup-chrome@latest

      - name: 3. Siapkan lingkungan Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          
      - name: 4. Install library dari requirement.txt
        run: pip install -r requirement.txt

      - name: 5. Jalankan skrip absen
        env:
          NPM: ${{ secrets.NPM }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: python -u absen.py
